CIFLEET_LISTEN=:8090
CIFLEET_NODE_ID=e5
CIFLEET_ENDPOINT=https://e5.lan:8090
CIFLEET_CONTROLLER_URL=https://pi-controller.lan:8080
CIFLEET_CONTROLLER_SERVER_NAME=pi-controller.lan
CIFLEET_CONTROLLER_IDENTITY=controller
CIFLEET_CA_FILE=/etc/cifleet/pki/ca.crt
CIFLEET_CERT_FILE=/etc/cifleet/pki/e5.crt
CIFLEET_KEY_FILE=/etc/cifleet/pki/e5.key
CIFLEET_DOCKER_BIN=docker
CIFLEET_CACHE_ROOT=/var/lib/cifleet/cache
CIFLEET_HEARTBEAT_INTERVAL=15s
CIFLEET_CLEANUP_INTERVAL=1m
CIFLEET_JOB_TIMEOUT=2h
CIFLEET_CAPABILITIES=container,docker
CIFLEET_LABELS=e5,linux-x64
